<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-title>Departamentos</mat-card-title>
      <mat-card-subtitle
        >Ingrese aqui para dar de alta una venta de un
        departamento</mat-card-subtitle
      >
      <mat-card-actions>
        <button
          routerLink="/form/departamento"
          mat-raised-button
          color="primary"
        >
          Crear
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-title>Casas</mat-card-title>
      <mat-card-subtitle
        >Ingrese aqui para dar de alta una venta de una casa</mat-card-subtitle
      >
      <mat-card-actions>
        <button routerLink="/form/casa" mat-raised-button color="primary">
          Crear
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-title>Lotes</mat-card-title>
      <mat-card-subtitle
        >Ingrese aqui para dar de alta una venta de un lote</mat-card-subtitle
      >
      <mat-card-actions>
        <button routerLink="/form/lote" mat-raised-button color="primary">
          Crear
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
