<ng-container *ngIf="loading$ | async">
  <div class="overlay"></div>
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>

<h1>Formulario para el alta de un Departamento</h1>

<form
  #form="ngForm"
  [formGroup]="departamentoForm"
  class="form"
  autocomplete="off"
>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Barrio</mat-label>
        <input
          type="text"
          placeholder="Seleccionar un barrio"
          matInput
          id="barrio"
          [matAutocomplete]="barrioAuto"
          formControlName="barrio"
        />
        <mat-error *ngIf="deptoFormContrls['barrio'].hasError('required')"
          >Campo requerido</mat-error
        >
        <mat-autocomplete
          #barrioAuto="matAutocomplete"
          [displayWith]="displayBarrioFn"
        >
          <mat-option
            *ngFor="let barrio of filteredBarrios$ | async"
            [value]="barrio"
          >
            {{ barrio.value }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ lblCalle }}</mat-label>
        <input
          matInput
          formControlName="calle"
          placeholder="Ingrese la calle unicamente"
        />
        <mat-error *ngIf="deptoFormContrls['calle'].hasError('required')"
          >Campo requerido</mat-error
        >
        <mat-hint
          >{{ hintCalle }}. (<a target="_blank" href="https://maps.google.com"
            >google maps</a
          >)</mat-hint
        >
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Altura o Lote</mat-label>
        <input
          matInput
          min="0"
          type="number"
          formControlName="altura"
          placeholder="Ingrese la altura aprox"
        />
        <mat-error *ngIf="deptoFormContrls['altura'].hasError('required')"
          >Campo requerido</mat-error
        >
        <!-- <mat-hint>No ingrese la altura exacta</mat-hint> -->
      </mat-form-field>
    </div>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <div class="row">
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Tipo de Desarrollo</mat-label>
        <mat-select formControlName="tipoDesarrollo">
          <mat-option *ngFor="let item of tiposDesarrollo" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="deptoFormContrls['tipoDesarrollo'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-1" style="padding-left: 0px; padding-right: 0px">
      <mat-slide-toggle formControlName="amenities" style="padding-top: 12px"
        >Amenities?</mat-slide-toggle
      >
    </div>
    <div class="col-md-1" style="padding-left: 0px; padding-right: 0px">
      <mat-slide-toggle formControlName="ascensor" style="padding-top: 12px"
        >Ascensor?</mat-slide-toggle
      >
    </div>
    <div class="col-md-2">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Superficie cubierta PROPIA</mat-label>
        <input matInput min="0" type="number" formControlName="supCubierta" />
        <mat-error *ngIf="deptoFormContrls['supCubierta'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Tipo de superficie descubierta</mat-label>
        <mat-select formControlName="tipoSuperficie">
          <mat-option *ngFor="let item of tiposSuperficies" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="deptoFormContrls['tipoSuperficie'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Superficie descubierta PROPIA</mat-label>

        <input
          matInput
          min="0"
          type="number"
          formControlName="supDescubierta"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>N° de Piso</mat-label>
        <mat-select formControlName="numPiso">
          <mat-option *ngFor="let item of numerosPisos" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['numPiso'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Disposición</mat-label>
        <mat-select formControlName="disposicion">
          <mat-option *ngFor="let item of disposiciones" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['disposicion'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Dormitorios</mat-label>
        <mat-select formControlName="dormitorios">
          <mat-option *ngFor="let item of dormitorios" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['dormitorios'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Baño</mat-label>
        <mat-select formControlName="banios">
          <mat-option *ngFor="let item of banios" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['banios'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Baño social</mat-label>
        <mat-select formControlName="banioSocial">
          <mat-option *ngFor="let item of baniosSociales" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['banioSocial'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Cochera</mat-label>
        <mat-select formControlName="cochera">
          <mat-option *ngFor="let item of tiposCochera" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['cochera'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Extras</mat-label>
        <mat-chip-list
          #chipListExtras
          formControlName="extrasChipList"
          aria-label="extras selection"
        >
          <mat-chip *ngFor="let extra of extras" (removed)="removeExtra(extra)">
            {{ extra.value }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Agregar..."
            #extraInput
            formControlName="extras"
            [matAutocomplete]="extrasAuto"
            [matChipInputFor]="chipListExtras"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          />
        </mat-chip-list>
        <mat-autocomplete
          #extrasAuto="matAutocomplete"
          (optionSelected)="selectedExtras($event)"
        >
          <mat-option
            *ngFor="let extra of filteredExtras$ | async"
            [value]="extra"
          >
            {{ extra.value }}
          </mat-option>
        </mat-autocomplete>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria">
          <mat-option *ngFor="let item of categorias" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['categoria'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Antigüedad</mat-label>
        <mat-select formControlName="antiguedad">
          <mat-option *ngFor="let item of antiguedades" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['antiguedad'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Cantidad de años</mat-label>
        <input
          matInput
          min="0"
          type="number"
          formControlName="antiguedadAnios"
        />
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Estado de conservación</mat-label>
        <mat-select formControlName="estadoConservacion">
          <mat-option *ngFor="let item of estadosConservacion" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="deptoFormContrls['estadoConservacion'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Estado de Ocupación</mat-label>
        <mat-select formControlName="estadoOcupacion">
          <mat-option *ngFor="let item of estadosOcupacion" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="deptoFormContrls['estadoOcupacion'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Tipo de vendedor</mat-label>
        <mat-select formControlName="tipoVendedor">
          <mat-option *ngFor="let item of tiposVendedor" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['tipoVendedor'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Formalización de la venta</mat-label>
        <mat-select formControlName="formalizacionVenta">
          <mat-option
            *ngFor="let item of tiposFormalizacionVenta"
            [value]="item"
          >
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="deptoFormContrls['formalizacionVenta'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Destino de uso</mat-label>
        <mat-select formControlName="destinoUso">
          <mat-option *ngFor="let item of destinosUso" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['destinoUso'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Forma de pago - Elegir 1 o VARIAS formas de pago</mat-label>

        <mat-chip-list
          #chipList
          formControlName="formaPagoChipList"
          [multiple]="true"
        >
          <mat-chip
            *ngFor="let item of allFormasPago"
            #chip="matChip"
            (click)="chip.toggleSelected(true)"
            [selected]="item.selected"
            [selectable]="true"
            (selectionChange)="changeSelected($event, item)"
          >
            {{ item.value }}
          </mat-chip>
        </mat-chip-list>
        <mat-error
          *ngIf="deptoFormContrls['formaPagoChipList'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <div class="row">
    <div class="col-md-2">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Fecha de ingreso</mat-label>
        <input
          matInput
          [matDatepicker]="pickerFechaIngreso"
          [max]="maxDate"
          formControlName="fechaIngreso"
        />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerFechaIngreso"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #pickerFechaIngreso
          [startAt]="startDate"
        ></mat-datepicker>
        <mat-error *ngIf="deptoFormContrls['fechaIngreso'].hasError('required')"
          >Campo requerido</mat-error
        >
        <mat-error
          *ngIf="deptoFormContrls['fechaIngreso'].hasError('invalidDateRange')"
          >La fecha de ingreso debe ser menor o igual a la fecha de
          venta</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Precio Inicial Historico</mat-label>
        <input matInput currencyMask formControlName="montoPrecioHistorico" />
        <!-- <mat-slide-toggle matSuffix formControlName="precioInicialPeso"
          >PESOS</mat-slide-toggle
        > -->
        <mat-hint
          >Si fue en pesos, Cargue importe a Cotización Dólar Billete de la
          Fecha de Ingreso</mat-hint
        >
        <mat-error
          *ngIf="deptoFormContrls['montoPrecioHistorico'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Último Precio Publicado</mat-label>
        <input matInput currencyMask formControlName="montoUltimoPrecio" />
        <!-- <mat-slide-toggle matSuffix formControlName="ultimoPrecioPeso"
          >PESOS</mat-slide-toggle
        > -->
        <mat-hint
          >Si fue en pesos, Cargue importe a Cotización Dólar Billete de la
          Fecha de ultima Publicación
        </mat-hint>
        <mat-error
          *ngIf="deptoFormContrls['montoUltimoPrecio'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <div class="row">
    <div class="col-md-2">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Fecha de venta</mat-label>
        <input
          matInput
          [matDatepicker]="pickerFechaVenta"
          [max]="maxDate"
          formControlName="fechaVenta"
        />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerFechaVenta"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #pickerFechaVenta
          [startAt]="startDate"
        ></mat-datepicker>
        <mat-error *ngIf="deptoFormContrls['fechaVenta'].hasError('required')"
          >Campo requerido</mat-error
        >
        <mat-error
          *ngIf="deptoFormContrls['fechaVenta'].hasError('invalidDateRange')"
          >La fecha de ingreso debe ser menor o igual a la fecha de
          venta</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field
        class="full-width"
        appearance="outline"
        style="width: 100%"
      >
        <mat-label>Precio de venta</mat-label>
        <input matInput currencyMask formControlName="montoPrecioVenta" />
        <!-- <mat-slide-toggle matSuffix formControlName="precioVentaPeso"
          >PESOS</mat-slide-toggle
        > -->
        <mat-hint
          >Si hizo Venta en pesos, Cargue el importe en Dolares a Cotización
          Dólar Billete</mat-hint
        >
        <mat-error
          *ngIf="deptoFormContrls['montoPrecioVenta'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Tipo de Captación</mat-label>
        <mat-select formControlName="tipoCaptacion">
          <mat-option *ngFor="let item of tiposCaptacion" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="deptoFormContrls['tipoCaptacion'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Tipo de Venta</mat-label>
        <mat-select formControlName="tipoVenta">
          <mat-option *ngFor="let item of tiposVenta" [value]="item">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deptoFormContrls['tipoVenta'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        (click)="enviarForm()"
        [disabled]="enviarEnable()"
        mat-raised-button
        class="float-end"
        color="primary"
      >
        Enviar
      </button>
    </div>
  </div>
</form>
